<div class="question" id="<%= question.id %>">
        <form action="/survey/<%= question.survey_id %>/<%= question.id %>/save" method="POST">
          <textarea name="question[question]" id="" ><%= question.try(:question) %></textarea><br>
          <div class="choices">
            <% question.choices.each do |choice| %>
              <%= erb :_survey_choices, layout: false, locals: {choice: choice} %>
            <% end %>
          </div>
          <input class="button" type="submit" value="Save question">
          <a class="add-choice" href="/survey/<%= question.survey_id %>/<%= question.id %>/newchoice">Add choice</a>
          <a class="delete-question" href="/survey/<%= question.survey_id %>/<%= question.id %>/delete">Delete question</a>
    </form>
  </div>
