<script src="/js/survey_edit.js"></script>

<div class="main">

  <h1>New/Edit survey</h1>

  <div class="edit-survey">
    <div class="survey-info">
      <noscript>
        <form action="/survey/<%= @survey.id %>/edit" method="POST">
          <input type="text" name="survey[title]" value="<%= @survey.try(:title) %>" placeholder="Title:">
          <textarea name="survey[description]" id="" cols="30" rows="10" placeholder="Description:"><%= @survey.try(:description) %></textarea>
          <input class="button" type="submit" value="Save survey">
        </form>
      </noscript>
    </div>

    <div class="survey-questions">
      <noscript>
        <% @survey.questions.each do |question| %>
          <%= erb :_survey_edit_question, layout: false, locals: {question: question} %>
        <% end %>

        <a id="add-question" href="/survey/<%= @survey.id %>/newquestion">Add question</a>
        <a href="/surveys">Commit Survey</a>
      </noscript>
    </div>

  </div>

</div>
